.header {
    border-bottom: 1px solid #5e5e5e;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    font-family: "Playfair Display", Georgia serif;
    font-size: 2.5rem;
    padding-left: 1rem;
}

.header a {
    text-decoration: none;
}

.header .logo:hover {
    text-decoration-line: underline;
}

.header a {
    align-self: center;
    font-size: 1rem;
    padding-right: 1rem;
}

.header .shopping-cart .cart-icon {
    font-size: 1.2rem;
    color: cadetblue;
    margin-right: 10px;
}
